<p>
  <mat-form-field>
    <mat-label>คำนำหน้าชื่อ</mat-label>
    <mat-select>
      <!-- ?? move to *ngFor -->
      <mat-option>นาย</mat-option>
      <mat-option>นาง</mat-option>
      <mat-option>นางสาว</mat-option>
      <mat-option>ดช.</mat-option>
      <mat-option>ดญ.</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="เลขประจำตัวประชาชน">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="ชื่อ">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="นามสกุล">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="เบอร์โทร">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="อีเมลล์">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="Line">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="Facebook">
  </mat-form-field>
</p>