<table>
  <tr>
    <td>
      <mat-form-field>
        <input matInput placeholder="บ้านเลขที่/หมู่/หมู่บ้าน">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field>
        <input matInput placeholder="ตรอก/ซอย">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="ถนน">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field>
        <input matInput placeholder="แขวง">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="เขต">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field>
        <input matInput placeholder="จังหวัด">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="รหัสไปรษณีย์">
      </mat-form-field>
    </td>
  </tr>
</table>