<p>
  <mat-form-field>
    <input matInput placeholder="จำนวนเงินลงขันผลตอบแทน">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="เลขที่บัญชีโอนผลตอบแทน">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="investDatepicker" placeholder="วันที่โอนผลตอบแทน">
    <mat-datepicker-toggle matSuffix [for]="investDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #investDatepicker></mat-datepicker>
  </mat-form-field>
</p>
<p>
    <mat-form-field>
      <input matInput placeholder="หลักฐานการโอนเงินผลตอบแทน">
    </mat-form-field>
  </p>

<p>
      <mat-form-field>
        <input matInput placeholder="จำนวนเงินลงขันส่วนร่วม">
      </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="เลขที่บัญชีโอนผลส่วนร่วม">
  </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="participateDatepicker" placeholder="วันที่โอนส่วนร่วม">
        <mat-datepicker-toggle matSuffix [for]="participateDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #participateDatepicker></mat-datepicker>
      </mat-form-field>
</p>
<p>
    <mat-form-field>
      <input matInput placeholder="หลักฐานการโอนเงินส่วนร่วม">
    </mat-form-field>
  </p>
<p>
  <mat-form-field>
    <input matInput placeholder="ชื่อบัญชี">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="ธนาคาร">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input matInput placeholder="เลขบัญชี">
  </mat-form-field>
</p>