.mat-fab{
  width: 8rem;
  height: 8rem;
  mat-icon{
    margin-left: -2.5rem;
    margin-top: -2.5rem;
    font-size: 4rem;
  }
}
.home-big-button-svg {
  display: block;
  fill: #fff;
  width: 4rem;
  height: 4rem;
}
.green{
  background-color: #a9c85f !important;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}